<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Gestión Clientes</title>
    <style>      
    
    </style>
  </head>
  <body class="grid-container">
    <header class="header"><h1><img src="ico.png" width="35" height="35"/> TECFOOD WEB</h1></header>    
    <nav class="navbar">
      <a href="gestionalimentos" class="estilogestion">Gestión Alimentos</a>
      <a href="gestionclientes" class="estilogestion">Gestión Clientes</a>
      <a href="gestiontiemposcomida" class="estilogestion">Tiempos Comida</a>
      <a href="gestionpedidos" class="estilogestion">Gestión Pedidos</a>
      <br>
    </nav>
  
    <aside class="sidebar">
        <br><br><br><br>
        <h2>Para ver sus datos debe<br>
        regresar a la pantalla <br> de inicio</h2>
        <br>
        <a href="/index" class="a-logout">Regresar</a>
                  
      </aside>    
      <article class="main">
        <h2>Gestión de Clientes</h2>
        <br><br>
      <form action="modificarCliente" method="POST">
        <h3>Modificar Cliente</h3>
        <br><br>
        <input type="text" name="id" id="id" placeholder="ID Cliente" size="50">
        <br><br>
        <input type="text" name="cedula" id="cedula" placeholder="Cedula" size="50">
        <br><br>
        <input type="text" name="carne" id="carne" placeholder="No Carné" size="50">
        <br><br>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" size="50">
        <br><br>
        <input type="text" name="primerapellido" id="primerapellido" placeholder="Primer Apellido" size="50">
          <br><br>
          <input type="text" name="segundoapellido" id="segundoapellido" placeholder="Segundo Apellido" size="50">
          <br><br>
          <input type="text" name="edad" id="edad" placeholder="Edad" size="50">
          <br><br>
          <input type="text" name="fechanacimiento" id="fechanacimiento" placeholder="Fecha Nacimiento" size="50">
          <br><br>
          <input type="text" name="correo" id="correo" placeholder="Correo" size="50">
          <br><br>
          <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" size="50">
          <br><br>
          <input type="submit" class="btn-register" id="modificarcliente" value="Modificar">
        </form>
        <form action="eliminarCliente" method="POST">
          <br><br>
          <h3>Eliminar Cliente</h3>
          <br><br>
          <input type="text" name="id" id="id" placeholder="ID Cliente" size="50">
          <br><br>
          <input type="submit" class="btn-register" id="eliminarcliente" value="Eliminar">
        </form>
        <form action="historialCliente" method="POST">
          <br><br>
          <h3>Historial Cliente</h3>
          <br><br>
          <input type="text" name="id" id="id" placeholder="ID Cliente" size="50">
          <br><br>
          <input type="submit" class="btn-register" id="historialcliente" value="Mostrar historial">
        </form>
      </article>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      
      <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
            title:'<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location='/<%= ruta %>'
        })
        </script>
    <% } %>

  </body>
</html>
        
